# public/docker-compose.yaml
name: ia-rag-ctf
services:
  qdrant:
    image: qdrant/qdrant:v1.9.3
    container_name: ia_rag_ctf_qdrant
    restart: unless-stopped
    volumes:
      - ./data/qdrant_storage:/qdrant/storage:rw

  api:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: ia_rag_ctf_api
    depends_on:
      - qdrant
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      QDRANT_URL: "http://qdrant:6333"
      QDRANT_COLLECTION: "ctf_sobriete_docs"
      TOP_K: "25"
      RETURN_SOURCES: "false"

      LLM_MODE: "enabled"           # enabled|disabled
      LLM_PROVIDER: "ollama"        # ollama|openai_compatible
      OLLAMA_URL: "http://host.docker.internal:11434"
      OLLAMA_MODEL: "llama3.1:8b"

      OPENAI_BASE_URL: ""
      OPENAI_API_KEY: ""
      OPENAI_MODEL: "gpt-4o-mini"
